.founders {
  /* height: 150vh; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid-container{
  width: 80%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.founders h2{
  font-size: 2.5rem;
  color: #213547;
  font-weight: bold;
  padding-block: 0.5rem;
  border-bottom: #213547 2px solid;
  width: fit-content;
}

.grids {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
  margin-bottom: 2rem;
  max-width: 1200px;
  
}

.card-founder {
  background-color: #21354783;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
  aspect-ratio: 1;
  padding-block: 20px;
  font-size: 18px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card-founder:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0,0,0,0.3);
}
img{
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 20px;
}