.header{
  width: 100%;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Header */
.header-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 15px;
  background: #f5f5f5;
  width: 80%;
  box-sizing: border-box;
}

/* Left & Right Images */
.image {
  height: auto;
  width: 150px;
  max-width: 100%;
  border-radius: 50%;
}

/* Center Text */
.header-text {
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: fit-content;
  margin: 10px 0;
}

.header-text .title {
  font-size: 2.2rem;
  font-weight: 800;
  color: #000;
  margin: 0;
}

.header-text .tagline,
.header-text .founder,
.header-text .location {
  font-size: 1rem;
  margin: 4px 0;
}

.header-text .location {
  color: #d32f2f;
  font-weight: bold;
}

/* Navbar */
.navbar {
  background-color: #213547;
  padding: 0 15px;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 12px 15px;
  cursor: pointer;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
}

.navbar ul li:hover {
  color: #ffeb3b;
}

.popup-content {
  background: #f5f5f5;
  color: #333;
  padding: 10px;
  border-radius: 12px;
  width: 150px;
  text-align: left;
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  position: absolute;
  bottom:-200%;
  z-index: 1;
}

.popup-content .row {
  display: block;
  font-size: 0.95rem;
  line-height: 1.5;
}

.popup-content .row a{
  text-decoration: none;
  color: #000;
}

.close-btn {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 5px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 9999;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
  }
}


@media (max-width: 992px) {
  .header-main {
    flex-direction: column;
    text-align: center;
  }

  .header-text .title {
    font-size: 1.8rem;
  }

  .header-text .tagline,
  .header-text .founder,
  .header-text .location {
    font-size: 0.9rem;
  }
}


@media (max-width: 600px) {
  .image {
    width: 100px;
  }

  .header-text .title {
    font-size: 1.5rem;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul li {
    padding: 10px;
    font-size: 0.85rem;
  }
}
